/src/main/resources/cookieBotProperties
/src/main/resources/databaseCookies.sqlite

*.iml
/.gitignore
/src/test
/out
/target
/src/main/java/com/blockingHD/Referance.java
/test/
oauthcode.txt
.idea/
src/main/resources/notepad
